img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.gridContainer {
    width: 70%;
    border: 1px solid black;
}

.notFoundExplainer {
    margin-left: 15px;
}

input[type="search"] {
    width: 70%;
    border-radius: 5px;
}

input[type="submit"] {
    border-radius: 5px;
    width: 100px;
    margin-left: 20px;
}